<H1>Lock Pick Set</H1>
<div class="container">
  <div class="row">
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/1602/4901/products/sere-new-1-1000x1000_large.jpg?v=1569258201" height="500"/>
    </div>
    <div class="col">
      <h2>Item Description</h2>
      <p>Crafted from the finest 301 steel and manufactured by us to our precise specifications, which basically means you can pick with confidence knowing you have the best possible tools, made by the best possible people. Made by lock pickers for lock pickers.</p>
    </div>
    <div class="col">
      <h2>Options</h2>
      <div class="quantity buttons_added">
        Quantity:
        <input type="number" #quantity id="quantity" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
        <button class="btn btn-primary" type="submit">Update Price</button>
      </div>
      <br>
    </div>
    <div class="col">
      <h2>Price</h2>
      <p id="price" style="font-size: xxx-large">$55.00</p>
      <button type="button" class="btn btn-dark">Add to Cart</button>
    </div>
  </div>
</div>




