<H1>Multi Angle Measuring Tool</H1>
<div class="container">
  <div class="row">
    <div class="col">
      <img src="https://m.media-amazon.com/images/I/71UsM5ABiZL._AC_SX679_.jpg" height="500"/>
    </div>
    <div class="col">
      <h2>Item Description</h2>
      <p>Made of 5mm aluminum alloy with durable metal knobs and bolts,this universal angle ruler is more durable and sturdy than the plastic one.Coated with black oxidation,the 6 fold measuring tool is rust-proof and won’t scratch working surfaces. High visibility and accurate laser etched graduations ruler measurement markings, multi-angle carpentry tools is wearproof and durable.</p>
    </div>
    <div class="col">
      <h2>Options</h2>
      <div class="quantity buttons_added">
        Quantity:
        <input type="number" [(ngModel)]="quantity" id="quantity" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
        <button (click)="updateShop()" class="btn btn-primary" type="submit">Update Price</button>
      </div>
      <br>
    </div>
    <div class="col">
      <h2>Price</h2>
      <input [(ngModel)]="price" style="font-size: xxx-large" readonly>
      <button type="button" (click)="addToCart()" class="btn btn-dark">Add to Cart</button>
    </div>
  </div>
</div>




