<H1>Channel Lock Pliers</H1>
<div class="container">
  <div class="row">
    <div class="col">
      <img src="https://content.toolots.com/media/catalog/product/cache/1/image/470x470/fd2c6820d7d512d5e7e5a15d4f852118/q/q/qqu3f8sm0_5511755.jpg" height="500"/>
    </div>
    <div class="col">
      <h2>Item Description</h2>
      <ul>
        <li>Right angle, laser heat-treated teeth grip better and last longer</li>
        <li>Undercut tongue & groove design won't slip</li>
        <li>Perma-lock fastener eliminates nut and bolt failure</li>
        <li>Patented reinforcing edge minimizes stress breakage</li>
        <li>Channel lock uses high-carbon steel for superior performance on the job and specially coated for ultimate rust prevention.Channel lock red grips for comfort.Made in the USA</li>
      </ul>
    </div>
    <div class="col">
      <h2>Options</h2>
      <div class="quantity buttons_added">
        Quantity:
        <input type="number" [(ngModel)]="quantity" id="quantity" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
        <button (click)="updateShop()" class="btn btn-primary" type="submit">Update Price</button>
      </div>
      <br>
      Handle style:
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
        <label class="form-check-label" for="flexRadioDefault1">
          Electrically safe rubber
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
        <label class="form-check-label" for="flexRadioDefault2">
          Fiber Glass Wrapping
        </label>
      </div>
    </div>
    <div class="col">
      <h2>Price</h2>
      <input [(ngModel)]="price" style="font-size: xxx-large" readonly>
      <button type="button" (click)="addToCart()" class="btn btn-dark">Add to Cart</button>
    </div>
  </div>
</div>




