<H1>Lockwire Pliers</H1>
<div class="container">
  <div class="row">
    <div class="col">
      <img src="https://m.media-amazon.com/images/I/71OVT00ABxL._AC_SX679_.jpg" height="500"/>
    </div>
    <div class="col">
      <h2>Item Description</h2>
      <p>Lock-wire pliers have a locking mechanism that can be engaged to clamp their jaws on to the lock-wire you want to twist, so you don’t have to maintain a solid grip on the pliers’ handles when twisting. But that’s only half of it. The really nifty bit is the way they automatically twist when you withdraw the helical rod from the rear of the pliers; a nice even twist is applied to the wire when the rod is pulled back, and a ratchet and spring system cause the rod to snap back into place when you release it without untwisting the wire it has just twisted. Most lock-wire pliers come with side cutting capabilities too, which you can use to cut your wire to length in the first place and trim any excess off, once you have finished making all your nuts and bolts safe.</p>
    </div>
    <div class="col">
      <h2>Options</h2>
      <div class="quantity buttons_added">
        Quantity:
        <input type="number" [(ngModel)]="quantity" id="quantity" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
        <button (click)="updateShop()" class="btn btn-primary" type="submit">Update Price</button>
      </div>
      <br>
      Edge style:
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
        <label class="form-check-label" for="flexRadioDefault1">
          Serrated
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
        <label class="form-check-label" for="flexRadioDefault2">
          Straight
        </label>
      </div>
    </div>
    <div class="col">
      <h2>Price</h2>
      <input [(ngModel)]="price" style="font-size: xxx-large" readonly>
      <button type="button" (click)="addToCart()" class="btn btn-dark">Add to Cart</button>
    </div>
  </div>
</div>



