<H1>Hand to Squirrel Transformation Tool</H1>
<div class="container">
  <div class="row">
    <div class="col">
      <img src="https://m.media-amazon.com/images/I/613rrhRTmEL._AC_SL1200_.jpg" height="500"/>
    </div>
    <div class="col">
      <h2>Item Description</h2>
      <ul>
        <li>Set of 5 finger puppets</li>
        <li>Includes 4 paws & 1 head</li>
        <li>Transforms hand into a squirrel</li>
        <li>Your hand will climb trees and forage for nuts</li>
      </ul>
    </div>
    <div class="col">
      <h2>Options</h2>
      <div class="quantity buttons_added">
        Quantity:
        <input type="number" [(ngModel)]="quantity" id="quantity" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
        <button (click)="updateShop()" class="btn btn-primary" type="submit">Update Price</button>
      </div>
      <br>
      Realism:
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
        <label class="form-check-label" for="flexRadioDefault1">
          Faux Fur
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
        <label class="form-check-label" for="flexRadioDefault2">
          Plastic
        </label>
      </div>
    </div>
    <div class="col">
      <h2>Price</h2>
      <input [(ngModel)]="price" style="font-size: xxx-large" readonly>
      <button type="button" (click)="addToCart()" class="btn btn-dark">Add to Cart</button>
    </div>
  </div>
</div>



