<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img src="https://i.etsystatic.com/11933806/r/il/604edc/2559688522/il_794xN.2559688522_kxvc.jpg" height="40"/>
    <a class="navbar-brand" routerLink="" routerLinkActive="active">Tool Time</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="about" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active">Create Account</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tools
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="tool1" routerLinkActive="active">Box Tool</a></li>
            <li><a class="dropdown-item" routerLink="tool2" routerLinkActive="active">Lock Wire Pliers</a></li>
            <li><a class="dropdown-item" routerLink="tool3" routerLinkActive="active">Flux Capacitor</a></li>
            <li><a class="dropdown-item" routerLink="tool4" routerLinkActive="active">Lock Pick Set</a></li>
            <li><a class="dropdown-item" routerLink="tool5" routerLinkActive="active">Lock/Bolt Cutter</a></li>
            <li><a class="dropdown-item" routerLink="tool6" routerLinkActive="active">Grabber</a></li>
            <li><a class="dropdown-item" routerLink="tool7" routerLinkActive="active">Hand to Squirrel Transformer</a></li>
            <li><a class="dropdown-item" routerLink="tool8" routerLinkActive="active">Multi Tool Pen</a></li>
            <li><a class="dropdown-item" routerLink="tool9" routerLinkActive="active">Multi Angle Measuring Tool</a></li>
            <li><a class="dropdown-item" routerLink="tool10" routerLinkActive="active">Channel Lock Pliers</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <a class="nav-link" routerLink="shoppingcart" routerLinkActive="active">Shopping Cart
          <i class="fa-solid fa-basket-shopping"></i>
        </a>


      </form>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
