<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img src="https://i.etsystatic.com/11933806/r/il/604edc/2559688522/il_794xN.2559688522_kxvc.jpg" height="40"/>
    <a class="navbar-brand" href="#">Tool Time</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">Login</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tools
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="tool1">Box Tool</a></li>
            <li><a class="dropdown-item" href="tool2">Lockwire Pliers</a></li>
            <li><a class="dropdown-item" href="tool3">Flux Capacitor</a></li>
            <li><a class="dropdown-item" href="tool4">Lock Pick Set</a></li>
            <li><a class="dropdown-item" href="tool5">Lock/Bolt Cutter</a></li>
            <li><a class="dropdown-item" href="tool6">Grabber</a></li>
            <li><a class="dropdown-item" href="tool7">Hand to Squirrel Transformer</a></li>
            <li><a class="dropdown-item" href="tool8">Multi Tool Pen</a></li>
            <li><a class="dropdown-item" href="tool9">Multi Angle Measuring Tool</a></li>
            <li><a class="dropdown-item" href="tool10">Channel Lock Pliers</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <i class="fa-solid fa-basket-shopping">Shopping Cart</i>
      </form>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
