<h1>Welcome</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Balance</h5>
        <p style="font-size: xx-large">$0.00</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Payment Information</h5>
        <p class="card-text">No Card on file</p>
        <button type="button" class="btn btn-primary">Add Payment Option</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Order History</h5>
        <p class="card-text">No Current Order History</p>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Time Frame
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="">Last 30 Days</a></li>
            <li><a class="dropdown-item" href="">Last 6 Months</a></li>
            <li><a class="dropdown-item" href="">All Time</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Information</h5>
        <p class="card-text">
          First:
          <br>
          Last:
          <br>
          Email Address:
          <br>
          Password:
        </p>
        <button type="button" class="btn btn-primary">Update Info</button>
      </div>
    </div>
  </div>
</div>
