<H1>Lock/Bolt Cutters</H1>
<div class="container">
  <div class="row">
    <div class="col">
      <img src="https://cdn.mscdirect.com/global/images/ProductImages/6790620-11.jpg" height="300" width="500"/>
    </div>
    <div class="col">
      <h2>Item Description</h2>
      <p>These 14-inch bolt cutters are used to cut bolts,rods, wires, rivets and chains up to 3/16 inch wide as well any padlock you find yourself needing to remove.</p>
    </div>
    <div class="col">
      <h2>Options</h2>
      <div class="quantity buttons_added">
        Quantity:
        <input type="number" [(ngModel)]="quantity" id="quantity" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
        <button (click)="updateShop()" class="btn btn-primary" type="submit">Update Price</button>
      </div>
      <br>
      Handle style:
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" value="Electrically Safe Rubber Handle" [(ngModel)]="option1" id="flexRadioDefault1" checked>
        <label class="form-check-label" for="flexRadioDefault1">
          Electrically Safe Rubber
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" value="Fiber Glass Handle" [(ngModel)]="option2" id="flexRadioDefault2" >
        <label class="form-check-label" for="flexRadioDefault2">
          Fiber Glass
        </label>
      </div>
      <div class="mat-warn">
        <p style="color: red">{{message}}</p>
      </div>
    </div>
    <div class="col">
      <h2>Price</h2>
      <input [(ngModel)]="price" style="font-size: xxx-large" readonly>
      <button type="button" (click)="addToCart()" class="btn btn-dark">Add to Cart</button>
    </div>
  </div>
</div>



