<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Welcome To Tool Time</h1>
<p>We here at tool time like to think we offer something special to our guests. Because of the odd nature of our products we find ourselves to be a specialty site for when you just cant find that weird tool you need. </p>
<h2>Products</h2>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="https://assets.leevalley.com/Size4/10101/88K3901-box-tool-f-0302.jpg" class="card-img-top" alt="..." height="500" width="100">
      <div class="card-body">
        <h5 class="card-title">Box Tool</h5>
        <div class="dropdown">
          <button class="btn btn-secondary btn-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Options
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" >Wooden Handle</a></li>
            <li><a class="dropdown-item">Fiber Glass Handle</a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://m.media-amazon.com/images/I/71OVT00ABxL._AC_SX679_.jpg" height="500" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lock-Wire Pliers</h5>
        <div class="dropdown">
          <button class="btn btn-secondary btn-danger dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            Options
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" >Serrated Edge</a></li>
            <li><a class="dropdown-item">Straight Edge</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://m.media-amazon.com/images/I/61lH8nrXFOL._AC_SX679_.jpg" height="500" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Flux Capacitor</h5>
        <div class="dropdown">
          <button class="btn btn-secondary btn-danger dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
            Options
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" >Time Travel</a></li>
            <li><a class="dropdown-item">Not Time Travel</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://cdn.shopify.com/s/files/1/1602/4901/products/sere-new-1-1000x1000_large.jpg?v=1569258201" height="500" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lock Pick Set</h5>
        <div class="dropdown">
          <button class="btn btn-secondary btn-danger dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false">
            Options
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" >None</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://cdn.mscdirect.com/global/images/ProductImages/6790620-11.jpg" height="500" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lock/Bolt Cutters</h5>
        <div class="dropdown">
          <button class="btn btn-secondary btn-danger dropdown-toggle" type="button" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-expanded="false">
            Options
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" >Electrically safe rubber handle</a></li>
            <li><a class="dropdown-item">Fiber Glass Handle</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://m.media-amazon.com/images/I/61b+nX3BO5L._SX522_.jpg" height="500" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Grabber</h5>
        <div class="dropdown">
          <button class="btn btn-secondary btn-danger dropdown-toggle" type="button" id="dropdownMenuButton6" data-bs-toggle="dropdown" aria-expanded="false">
            Options
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" >Rubber</a></li>
            <li><a class="dropdown-item">Fiber Glass Handle</a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://m.media-amazon.com/images/I/613rrhRTmEL._AC_SL1200_.jpg" height="500" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hand to Squirrel Transformation Tool</h5>
        <div class="dropdown">
          <button class="btn btn-secondary btn-danger dropdown-toggle" type="button" id="dropdownMenuButton7" data-bs-toggle="dropdown" aria-expanded="false">
            Options
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" >Faux Fur</a></li>
            <li><a class="dropdown-item">Plastic</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://m.media-amazon.com/images/I/71GZloycp4L._AC_SX679_.jpg" height="500" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Multi Tool Pen</h5>
        <div class="dropdown">
          <button class="btn btn-secondary btn-danger dropdown-toggle" type="button" id="dropdownMenuButton8" data-bs-toggle="dropdown" aria-expanded="false">
            Options
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" >Aircraft Grade Aluminum</a></li>
            <li><a class="dropdown-item">Steel</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://m.media-amazon.com/images/I/71UsM5ABiZL._AC_SX679_.jpg" height="500" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Multi Angle Measuring Tool</h5>
        <div class="dropdown">
          <button class="btn btn-secondary btn-danger dropdown-toggle" type="button" id="dropdownMenuButton9" data-bs-toggle="dropdown" aria-expanded="false">
            Options
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" >None</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://content.toolots.com/media/catalog/product/cache/1/image/470x470/fd2c6820d7d512d5e7e5a15d4f852118/q/q/qqu3f8sm0_5511755.jpg" height="500" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Channel Lock Pliers</h5>
        <div class="dropdown">
          <button class="btn btn-secondary btn-danger dropdown-toggle" type="button" id="dropdownMenuButton10" data-bs-toggle="dropdown" aria-expanded="false">
            Options
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" >Electrically safe rubber handle</a></li>
            <li><a class="dropdown-item">Fiber Glass Handle</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>
  <footer>
    For when you cant find it anywhere else, we have you covered.
  </footer>


</body>
</html>
